<!DOCTYPE html>
<!-- saved from url=(0064)https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   <!-- <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>Final Project ITMD 562</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>

  <body cz-shortcut-listen="true">

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">WebApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
<!--
            <li class="nav-item">
              <a class="nav-link" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/#">Disabled</a>
            </li>
          </ul>
-->
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        <br><br>
      <h1 class="mt-5"><center>Resume - Review what to know</center></h1><br><br>
      <div class="col-md-80">
        <div class="alert alert-success" role="alert">
          <h4>HTML - HyperText Markup Language</h4>
        </div>
          <p>
            <h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            Hypertext Markup Language getting ready for your interview.
            </h5><br>
          </p>
          <a href="https://www.lifewire.com/why-use-semantic-html-3468271" class="badge badge-success">
            <h5>Senabtic HTML</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.w3.org/WAI/intro/wcag" class="badge badge-warning">
            <h5>WCAG Standards &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.w3.org/WAI/intro/wcag" class="badge badge-info">
            <h5>WCAG 2.0</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/h5bp/Front-end-Developer-Interview-Questions" class="badge badge-danger">
            <h5>GitHub front end developer questions? </h5>
          </a>
      </div>
      <br><br><br>
      <div class="col-md-80">
          <div class="alert alert-primary" role="alert">
              <h4>CSS - Cascading Style Sheet</h4>
            </div>
          <p>
            <h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            Cascading Style Sheets getting ready for your interview.
            </h5>
          </p><br>
          <a href="https://getbootstrap.com/" class="badge badge-success">
            <h5>Bootstrap</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://foundation.zurb.com/" class="badge badge-warning">
            <h5>Foundation &nbsp;&nbsp;&nbsp;&nbsp;</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="http://lesscss.org/" class="badge badge-info">
            <h5>LESS</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://sass-lang.com/" class="badge badge-danger">
            <h5>SASS </h5>
          </a>
      </div>
      <br><br><br>
      <div class="col-md-80">
          <div class="alert alert-warning" role="alert">
             <h4>JS - Javascript</h4> 
            </div>
          <p>
            <h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            JavaScript, often abbreviated as JS, getting ready for your interview
              
          </h5>
          </p><br>
          <a href="https://www.toptal.com/javascript/interview-questions" class="badge badge-success">
            <h5>Javascript interview questions</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://jquery.com/" class="badge badge-warning">
            <h5>JQuery &nbsp;&nbsp;</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://reactjs.org/" class="badge badge-info">
            <h5>React&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://angular.io/" class="badge badge-danger">
            <h5>Angular &nbsp;&nbsp;&nbsp;</h5>
          </a>
          <br><br><br>
      </div>    
      <div class="col-md-80">
          <div class="alert alert-warning" role="alert">
             <h4>Restful APIs</h4> 
            </div>
          <p>
            <h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            RESTFUL APIs, getting ready for your interview
              
          </h5>
          </p><br>
          <a href="http://www.restapitutorial.com/" class="badge badge-success">
            <h5>RESTFul Walkthru</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://restfulapi.net/" class="badge badge-warning">
            <h5>What is it? &nbsp;&nbsp;</h5>
          </a>
          <br><br><br>
      </div>    
      <div class="col-md-80">
          <div class="alert alert-warning" role="alert">
             <h4>Testing</h4> 
            </div>
          <p>
            <h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            Testing APIs, getting ready for your interview
              
          </h5>
          </p><br>
          <a href="https://mochajs.org/" class="badge badge-success">
            <h5>Mocha</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="http://www.chaijs.com/" class="badge badge-warning">
            <h5>Chai &nbsp;&nbsp;</h5>
          </a>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.seleniumhq.org/" class="badge badge-warning">
            <h5>Selenium &nbsp;&nbsp;</h5>
          </a>
          <br><br><br>
      </div>         
   </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./ClientSide_files/jquery-3.3.1.slim.min.js.download" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./ClientSide_files/popper.min.js.download"></script>
    <script src="./ClientSide_files/bootstrap.min.js.download"></script>
  

</body></html>