<!DOCTYPE html>
<!-- saved from url=(0064)https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   <!-- <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>Final Project ITMD 562</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>

  <body cz-shortcut-listen="true">

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="">WebApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
<!--
            <li class="nav-item">
              <a class="nav-link" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/#">Disabled</a>
            </li>
          </ul>
-->
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <br><br>
      <h1 class="mt-5"><center>Server Side Technologies</center></h1><br><br>
      <div class="col-md-80">
        <div class="alert alert-success" role="alert">
          <h4>mongoDB</h4>
        </div>
          <p>
            <h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            MongoDB is a free and open-source cross-platform document-oriented database program. 
            Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemas. 
            MongoDB is developed by MongoDB Inc., and is published under a combination of the GNU Affero General Public License and 
            the Apache License. MongoDB supports field, range queries, regular expression searches. Queries can return specific fields 
            of documents and also include user-defined JavaScript functions. Queries can also be configured to return a random sample of results of a given size.
          </h5><br>
          </p>
          <a href="https://www.mongodb.com/" class="badge badge-success">
            <h5>Learn from mongoDb</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.tutorialspoint.com/mongodb/index.htm" class="badge badge-warning">
            <h5>Learn from Tutorials Point </h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://university.mongodb.com/" class="badge badge-info">
            <h5>Learn from MongoDb University</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.udemy.com/learn-mongodb-step-by-step/" class="badge badge-danger">
            <h5>Learn from Udemy </h5>
          </a>
      </div>
      <br><br><br>
      <div class="col-md-80">
          <div class="alert alert-primary" role="alert">
              <h4>Node Js</h4>
            </div>
          <p>
            <h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code server-side. 
            Historically, JavaScript was used primarily for client-side scripting, in which scripts written in JavaScript are embedded in 
            a webpage's HTML and run client-side by a JavaScript engine in the user's web browser. Node.js lets developers use JavaScript 
            for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the 
            user's web browser. Consequently, Node.js represents a "JavaScript everywhere" paradigm, unifying web application development 
            around a single programming language, rather than different languages for server side and client side scripts. Though .js is 
            the conventional filename extension for JavaScript code, the name "Node.js" does not refer to a particular file in this 
            context and is merely the name of the product. 
          </h5>
          </p><br>
          <a href="https://www.w3schools.com/nodejs/nodejs_intro.asp" class="badge badge-success">
            <h5>Learn from W3 Schools</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://nodejs.org/en/" class="badge badge-warning">
            <h5>Learn from Node Js Org</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://nodeschool.io/" class="badge badge-info">
            <h5>Learn from Node School &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.udemy.com/understand-nodejs/" class="badge badge-danger">
            <h5>Learn from Udemy </h5>
          </a>
      </div>
      <br><br><br>
      <div class="col-md-80">
          <div class="alert alert-warning" role="alert">
             <h4>Express.JS</h4> 
            </div>
          <p>
            <h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            Express.js, or simply Express, is a web application framework for Node.js, released as free and 
            open-source software under the MIT License. It is designed for building web applications and APIs.
            It has been called the de facto standard server framework for Node.js. The original author, TJ Holowaychuk, 
            described it as a Sinatra-inspired server,[3] meaning that it is relatively minimal with many features available 
            as plugins. Express is the backend part of the MEAN stack, together with MongoDB database 
            and AngularJS frontend framework.
          </h5>
          </p><br>
          <a href="https://expressjs.com/" class="badge badge-success">
            <h5>Learn from Express.Js</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://codeforgeek.com/category/nodejs/express/" class="badge badge-warning">
            <h5>Learn from Code for Geek</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/expressjs/express/tree/master/examples" class="badge badge-info">
            <h5>Learn from GitHub &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.javatpoint.com/expressjs-tutorial" class="badge badge-danger">
            <h5>Learn from Java T-Point </h5>
          </a>
          <br><br><br>
      </div>

      <table class="table table-bordered">
        <thead>
            <tr>
                <th>Row</th>
                <th>Header</th>
                <th>Header</th>
                <th>LINK</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>topic</td>
                <td>topic</td>
                <td>link</td>
            </tr>
        </tbody>
    </table> 
    
    </main>

      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./ClientSide_files/jquery-3.3.1.slim.min.js.download" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./ClientSide_files/popper.min.js.download"></script>
    <script src="./ClientSide_files/bootstrap.min.js.download"></script>
  

</body></html>